body{
    background-color: #DCD7C9;
    color: rgb(235, 230, 225);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: unset;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#boton_desplegable{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
}
.EC{
    display: none;    
}
.EC.show{
    display: block;
    background-color: #2C3930;
    width: 60%;
    position: absolute;
    left: 0;
    top: 14vh;
}
header{
    background-color: #2C3930;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    background-color: #3F4F44;
    width: 90%;
    height: 70vh;
    box-shadow: 0px 0px 10px ;
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid black;
    padding-inline: 15px;
    padding-top: 10px;
    margin-bottom: 15px;
}

#materias-container{
    text-align: center;
    cursor: pointer;
    overflow-y: scroll;
    width: 100%;
    height: 75.2vh;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    gap: 2rem;
}
article{
    background-color: #DCD7C9;
    height: 85%;
    width: 100%;
    padding: 30px;
    color: black;
    font-weight: 300;
    opacity: 0.9;
    box-shadow: 0px 0px 10px black ;
    border-radius: 20px;
    overflow-y: scroll;
}
#grados{
    background-color: #2C3930;
    height: 10vh;
    width: 100%;
    position: sticky;

    top: 100%;
    border: unset;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
a, button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 11%;
    text-align: center;
    box-shadow: 0 0 5px;
    border-radius: 20px;
    background-color: #DCD7C9;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: unset;
    border: unset;
}
a:hover, button:hover{
    color: rgb(252, 252, 252);
    transition: 0.5s;
}

.tecnicatura-button{
    width: 100%;
    background-color: crimson;
    margin-top: 5%;
    height: auto;
    font-size: large;
    
}

.materia-button{
    flex: 1 0 auto;
    height: auto;
    width: 100%;
    font-size: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}
