
h1{
    color: rgb(16, 6, 49);
    font-size: 200%; 
    text-align: center;   
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    border-radius: 30px;
    
    min-width: 60vw;
    max-width: 70vw;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 60%;
    gap: 100px;
    
}
.boton{
    background-color: rgb(25, 137, 141);
    border: unset;
    border-radius: 50px;
    color: rgb(16, 6, 49);
    height: 12%;
    width: 170px;
    font-size: 20px;
}
.boton:hover{
    background-color: rgb(250, 126, 250);
    width: 190px;
    font-size: 22px;
    transition: 0.6s;
}
a{
    color:rgb(16, 6, 49);
    text-decoration: solid;
}