.body{
    background-color: #DCD7C9;
    color: rgb(235, 230, 225);
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body.mario{
    background-color: unset;
    background-image: url(../imagenes/level1.jpg);
    background-position: baseline;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.8s;
}
.normal{
    background-color: #2C3930;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    transition: all 0.8s;
}
.normal.mario{
    background-color: rgb(187, 40, 40);
    transition: all 0.8s;
}
#logo{
    height: 8vh;
    border-radius: 30px;
}
#boton{
    position: absolute;
    top: 4%;
    right: 3%;
}
img{
    height: auto;
    width: 50px;
}
.img{
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    box-shadow: unset;
    border: unset;
    
}
.mariobros{
    display: block;
    height: 100%;
    width: 100%;
    background-image: url(../imagenes/mariop.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    transition: all 0.8s;
}
.mariobros.mario{
    background-image: url(../imagenes/marios.png);
    transition: all 0.3s;
}

.img:hover{
    background-color: #2C3930;
    transform: 0.4;
}

main{
    height: 73vh;
    width: 10%;
}

.grados{
    background-color: #2C3930;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
    transition: all 0.8s;
}
.grados.mario{
    background-color: unset !important;
    transition: all 0.8s;
}
a, button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    width: 60px;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #DCD7C9;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: unset;
    
}
.link{
    background-color: unset;
    border: unset;
    width: 100%;
    box-shadow: unset;
    border-radius: 0;
    text-decoration: unset;
    color: rgba(243, 240, 240, 0.466);
}
.link:hover{
    border-bottom: 1px solid white;
    transition: 0.4s;
}

a:hover, button:hover{
    color: beige;
    transition: 0.5s;
}
#boton{
    border-radius: 20px;
    border: unset;
    height: 30px;
    width: 30px;
    color: rgb(0, 0, 0);
}

.si_click{
    height: 100%;
    width: 30%;
    top: 0;
    position: absolute;
    right:0%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    text-align: center;
    gap: 5%;
    background-color: rgba(63, 79, 68, 0.9);
    color: rgb(206, 205, 205);
    box-shadow: 0px 12px 10px 0px rgb(204, 204, 206);
    border-radius: 0px 10px 10px 0;
    animation: barra 0.3s linear;
}
@keyframes barra {
    from{
        transform: translateX(260px);
    }
    to{
        transform: translateX(0px);
    }
    
}
div{
    display: none;
}
#boton:active{
    background-color: rgb(125, 39, 206);
    border-radius: 0;
    transition: 0.2s;
    box-shadow: 0 0 10px 0 rgb(146, 47, 240);
    color: aliceblue;
}